/MilkShake/MilkShake/bin
/MilkShake/MilkShake/MilkShake.cs
/MilkShake/MilkShake/MilkShake.csproj
/MilkShake/MilkShake/MilkShake.csproj.user
/MilkShake/MilkShake/bin/Debug/*.db3
/MilkShake/MilkShake.sln
/MilkShake/MilkShake.suo
/MilkShake/MilkShake.v11.suo
