<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LoginDatabase" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=TRUE;Encrypt=TRUE;TrustServerCertificate=TRUE;database=realmd" providerName="System.Data.SqlClient" />
    <add name="CharacterDatabase" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=TRUE;Encrypt=TRUE;TrustServerCertificate=TRUE;database=characters" providerName= "System.Data.SqlClient"/>
    <add name="WorldDatabase" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=TRUE;Encrypt=TRUE;TrustServerCertificate=TRUE;database=mangos" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers> 
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> 
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>